
<h2 mat-dialog-title>{{con2.title}}</h2>
<mat-dialog-content>
  <form class="form">
  <div class="form-group">
    <input type="password" class="form-control" id="pass" placeholder="Enter New Password"  name="npassword" [(ngModel)]="password" #npassword="ngModel" required appAppPassword>
    <div *ngIf="npassword.invalid && (npassword.touched)" style="color:red;font-size:15px;"> 
      *Above Field required. 
  </div>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" id="pass1" placeholder="Re-Enter the new Password"  name="nrpassword" [(ngModel)]="rpassword" #nrpassword="ngModel" required appAppPassword>
    <div *ngIf="nrpassword.invalid && (nrpassword.touched)" style="color:red;font-size:15px;"> 
      *Above Field required. 
  </div>
  </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn-success" mat-dialog-close mat-dialog-close="submit" (click)="update(password,rpassword)">Update</button>
</mat-dialog-actions>

