<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div id="container1">
  <nav>
    <div id="logo">
     Just-Learn
    </div>
    <ul>
      <li><a (click)="home()">Home</a></li>
      <!-- <li><a (click)="about()">About</a></li>
      <li><a (click)="contact()">Contact</a></li> -->
      <!-- <li class="dropdown" onmouseover="hover(this);" onmouseout="out(this);"><a href="#">Register &nbsp;<i class="fa fa-caret-down"></i></a>
        <div class="dd">
          <div id="up_arrow"></div>
        <ul>
          <li><a href="#">as Student</a></li>
          <li><a href="#">as Teacher</a></li>
        </ul>
        </div>
      </li> -->
      <li class="dropdown"><a (click)="logout()">Log Out <i class="glyphicon glyphicon-log-out"></i> </a></li>
       <!-- <div class="dd">
         <div id="u_a_c"><div id="up_arrow"></div></div>
        <ul>
          <li><a href="#">as Student</a></li>
          <li><a href="#">as Teacher</a></li>
        </ul>
        </div> -->
        
    </ul>
  </nav>
</div>
<br><br>

<div  class="container">
  <div class="text-left mb-6">
    <button class="btn btn-danger btn-lg" (click)="back()"><i class="glyphicon glyphicon-chevron-left"></i> Back </button>
  </div>&nbsp;&nbsp;
<div>
<table class="table">
  <tr>
    <th>
      Student RollNumber
    </th>
    <th>
      Assignment Answers
    </th>
    <th>
      Assignment Marks
    </th>
  </tr>
  <tr *ngFor="let a of asl;" class="table-info" >
    <ng-container *ngIf="!a.verified">
    <td>
      {{a.studid}}
    </td>
    <td >
      <tr *ngFor="let p1 of a.studans;let i = index">
      <a style="color:blue;" (click)="openFile(p1)">File {{i+1}}</a>
    
    </tr>
    </td>
    <td>
      <input type="text" class="form-control" id="marks-{{i}}" placeholder="Enter Marks" name="marks" [(ngModel)]="a.assignmarks" #marks="ngModel" required autofocus>
      <div *ngIf="marks.invalid && (marks.touched)" style="color:red;font-size: 15px;"> 
        *Above Field is required. 
    </div>
    </td>
    <td>
      <button type="submit" class="btn btn-info" (click)="submitMarks(a.id,a.assignmarks)">Submit Marks</button>
    </td>
  </ng-container>
  </tr>
<tr><td>Verfied Student List</td><td></td><td></td></tr>
  <tr *ngFor="let a of asl;" class="table-success">
    <ng-container *ngIf="a.verified">

    <td>
      {{a.studid}}
    </td>
    <td >
      <tr *ngFor="let p1 of a.studans;let i = index" >
      <a style="color:blue;" (click)="openFile(p1)">File {{i+1}}</a>
    
    </tr>
    </td>
    <!-- <td>
      <input type="text" [disabled]='disableTextbox' class="form-control" id="marks-{{i}}" placeholder="Enter Marks" name="marks" [(ngModel)]="a.assignmarks" #marks="ngModel">
    </td> -->
    <td>
     {{a.marks}} / {{a.totalmarks}}
    </td>
  </ng-container>
  </tr>
</table>
</div>


</div>