
<h2 mat-dialog-title>{{con.title}}</h2>
<mat-dialog-content>
  <form class="form">
  <div class="form-group">
    <input type="text" class="form-control" id="subcode1" placeholder="Enter Subject Code"  name="subcode" [(ngModel)]="scode" #subcode="ngModel">
  </div>
  </form>

</mat-dialog-content>
<br>
<mat-dialog-actions>
  <button class="btn btn-danger" mat-dialog-close mat-dialog-close="true" (click)="close()">Close</button>&nbsp;&nbsp;&nbsp;
  <button class="btn btn-warning" mat-dialog-close mat-dialog-close="submit" (click)="act()">Submit</button>

</mat-dialog-actions>

