<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div id="container1">
  <nav>
    <div id="logo">
     Just-Learn
    </div>
    <ul>
      <li><a (click)="home()">Home</a></li>
       <li><a (click)="myaccount()">My Account</a></li>
     <!-- <li><a (click)="contact()">Contact</a></li> -->
      <!-- <li class="dropdown" onmouseover="hover(this);" onmouseout="out(this);"><a href="#">Register &nbsp;<i class="fa fa-caret-down"></i></a>
        <div class="dd">
          <div id="up_arrow"></div>
        <ul>
          <li><a href="#">as Student</a></li>
          <li><a href="#">as Teacher</a></li>
        </ul>
        </div>
      </li> -->
      <li class="dropdown"><a (click)="logout()">Log Out <i class="glyphicon glyphicon-log-out"></i> </a></li>
       <!-- <div class="dd">
         <div id="u_a_c"><div id="up_arrow"></div></div>
        <ul>
          <li><a href="#">as Student</a></li>
          <li><a href="#">as Teacher</a></li>
        </ul>
        </div> -->
        
    </ul>
  </nav>
</div>
<br><br>

<div  class="container">
  <br>
<mat-tab-group mat-align-tabs="center"  #tabRef (selectedTabChange)="ch(tabRef.selectedIndex)">
  <mat-tab label="Materials"></mat-tab><br>
  <mat-tab label="Assignments"></mat-tab><br>
  <mat-tab label="Student Details"></mat-tab><br>
</mat-tab-group><br><br><br><br><br><br>
<div *ngIf="material">
<h3> Please upload Materials here</h3><br>
<form action="/action_page.php">
  <div class="form-group">
    <div class="col-xs-4">
      <input class="form-control" name="title" id="ex2" type="text" placeholder="Enter title" [(ngModel)]="title1" #title="ngModel"><br>
      <input class="form-control form-control-lg"  type="file" (change)="onFileChanged($event)"><br>
      <button class="btn btn-success" (click)="onUpload()" value="upload">Upload</button>
     <br><br><br>
    </div>

    </div>
</form>
</div>
<div *ngIf="disp">
  <table class="table">
    <tr>
      <th>Title</th>
      <th>File Link</th>
    </tr>
    <tr *ngFor="let df of displayfiles">
      <td>{{df.title}}</td>
      <td style="color:blue;"><a (click)="openFile(df.id)">{{df.id}}</a></td>
    </tr>
  </table>

</div>

<div *ngIf="stu">
<table class="table">
  <tr>
    <th>
     Roll Number
    </th>
    <th>
      Student Name
    </th>
    <th>
      EmailId
    </th>
  </tr>
  <tr  *ngFor="let sj of sjarray">
    <td>
      {{sj.rollnumber}}
    </td>
    <td>
      {{sj.name}}
    </td>
    <td>
      <a href="mailto:{{sj.emailid}}">{{sj.emailid}}</a>
    </td>
  </tr>
</table>
</div>
<!-- <a [href]="fileUrl" download="text.txt">DownloadFile</a> -->

<div *ngIf="assignment">
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" id="assigntitle" placeholder="Enter Title" name="atitle" [(ngModel)]="assigntitle" #atitle="ngModel">
    </div> &nbsp;&nbsp;&nbsp;
    <div class="form-group">
      <input type="text" class="form-control" id="question" placeholder="Enter Assignment Question Here" name="ques" [(ngModel)]="aquestion" #ques="ngModel">
    </div>&nbsp;&nbsp;&nbsp;
    <div class="form-group">
    <input type="text" class="form-control" id="totmarks" placeholder="Enter Total marks" name="total" [(ngModel)]="totalmarks" #total="ngModel">
  </div>&nbsp;&nbsp;&nbsp;
  <div class="form-group">
    <input  onfocus="this.type='date'"class="form-control" id="dateval" placeholder="Deadline Date" name="dead" [(ngModel)]="deadlinedate" #dead="ngModel">
  </div>&nbsp;&nbsp;
    <button type="submit" class="btn btn-success" (click)="uploadAssignment(assigntitle,aquestion,totalmarks,deadlinedate)">Upload Assignment</button>
  </form>
</div>
<div *ngIf="displayAssignment">
<table class="table">
  <tr>
    <th>
      Assignment Name
    </th>
    <th>
      Assignment Question
    </th>
    <th>
      Details
    </th>
    <th>Deadline</th>

  </tr>
  <tr *ngFor="let a of assignments">
    <td style="width:15%">
      {{a.assiname}}
    </td>
    <td style="width:33.33%">
      {{a.assique}}
    </td>
    <td style="width:15%">
    <button class="btn btn-warning" (click)="showStudentAssignmentDetails(a.id)">Show Student List</button>
    <ng-http-loader spinner="sk-wave"></ng-http-loader>
  </td>

    <td style="width:20%">{{a.deadline}}</td>
  </tr>
</table>
</div>


</div>