::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
    min-width: 10!important;
    padding: 20px!important;
    margin: 3px!important;
    font-size: 30px!important;
    padding-right:70px !important;
    color:black !important;
   }

   .table {
    margin-top:25px;
    font-size: 25px;
  
  }
