<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div id="container1">
  <nav>
    <div id="logo">
     Just-Learn
    </div>
    <ul>
      <li><a (click)="home()">Home</a></li>
       <li><a (click)="myaccount()">My Account</a></li>
      <!--<li><a (click)="contact()">Contact</a></li> -->
      <!-- <li class="dropdown" onmouseover="hover(this);" onmouseout="out(this);"><a href="#">Register &nbsp;<i class="fa fa-caret-down"></i></a>
        <div class="dd">
          <div id="up_arrow"></div>
        <ul>
          <li><a href="#">as Student</a></li>
          <li><a href="#">as Teacher</a></li>
        </ul>
        </div>
      </li> -->
      <li class="dropdown"><a (click)="logout()">Log Out <i class="glyphicon glyphicon-log-out"></i> </a></li>
       <!-- <div class="dd">
         <div id="u_a_c"><div id="up_arrow"></div></div>
        <ul>
          <li><a href="#">as Student</a></li>
          <li><a href="#">as Teacher</a></li>
        </ul>
        </div> -->
        
    </ul>
  </nav>
</div>
<br><br>

<body>
  <div class="container">
    <button class="btn btn-danger" (click)="back()"><i class="glyphicon glyphicon-chevron-left"></i> Back </button>
    <h3>Hello, {{stu.name}}</h3>
    <table class="table">
      <tr class="info">
        <td><strong>Roll Number:</strong></td>
        <td>{{stu.rollnumber}}</td>
      </tr>
      <tr class="success">
        <td><strong>Email Id:</strong></td>
        <td>{{stu.emailid}}</td>
      </tr>
      <tr class="danger">
        <td><strong>Phone Number:</strong></td>
        <td>{{stu.phoneno}} <a style="color:navy;" (click)="updatePhone()"><i class="glyphicon glyphicon-pencil"></i></a>
       </td>
      </tr>
    </table>
  </div>
</body>